'exception-reporting':
  'userId': '1fdd95bc-21c0-15fd-1e33-c02735c1afa3'
'release-notes':
  'viewedVersion': '0.95.0-e011bec'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '420feca3875b901a22eb8fc83c50639c7e965a3b'
'editor':
  'showIndentGuide': true
