"*":
  Ensime:
    sbtExec: "/usr/local/bin/sbt"
  "autocomplete-plus":
    confirmCompletion: "tab"
    defaultProvider: "Fuzzy"
    enableAutoConfirmSingleSuggestion: false
  core:
    destroyEmptyPanes: true
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 11
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 100
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "2140a0ca-7024-e98e-2e3a-93ba7bc3d13b"
  "flex-tool-bar":
    showConfigButton: false
    toolBarConfigurationFilePath: "/Users/mc/.atom/toolbar.cson"
  "git-diff":
    showIconsInEditorGutter: true
  "language-babel":
    disableWhenNoBabelrcFileInPath: true
    transpileOnSave: false
  linter:
    lintOnChangeInterval: 2000
    showErrorInline: false
    showInfoMessages: true
    statusBar: "Show error of the selected line"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jscs":
    messageType: "warning"
    verbose: true
  "linter-jshint": {}
  "markdown-preview": {}
  metrics:
    userId: "488f901c412cb5de43fde1d3a75b0c6a6f12b3d1"
  "one-light-ui":
    layoutMode: "Compact"
  "release-notes":
    viewedVersion: "0.95.0"
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
