packages: [
  "atom-beautify"
  "atom-mermaid"
  "atom-tachyons"
  "autocomplete-paths"
  "busy-signal"
  "change-case"
  "color-picker"
  "editorconfig"
  "file-icons"
  "flex-tool-bar"
  "hyperclick"
  "intentions"
  "language-arduino"
  "language-docker"
  "language-markdown"
  "language-mermaid"
  "language-nginx"
  "language-pug"
  "language-rust"
  "language-scala"
  "language-tmux"
  "linter"
  "linter-coffeelint"
  "linter-docker"
  "linter-eslint"
  "linter-js-standard"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-pug"
  "linter-stylelint"
  "linter-ui-default"
  "merge-conflicts"
  "package-sync"
  "tool-bar"
]
